* {
  box-sizing: border-box;
}

header, footer, .services {
  position: relative;
  width: 100%;
}

h3 {
  color: #2c4755;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: center;

}

.wrapper-top {
  background-color: #c4a2e2;
  padding: 12px 331px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;

  & .info-wrapper span {
    margin-left: 0.2em;
  }

  & .info-wrapper .info-wrapper__envelope {
    margin-left: 1.5em;
  }

  & .language-wrapper span, & .language-wrapper img {
    margin-left: 0.2em;
  }
}

.wrapper {
  width: 100%;
  margin: auto;
  padding: 0 331px;
}

.button {
  width: 127px;
  height: 33px;
  border: 1px solid #41bdef;
  background-image: linear-gradient(to top, #31a7de 0%, #41bdef 100%);
  color: #ffffff;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;

}

.separator {
  width: 1081px;
  height: 67px;
  margin: 0 auto;
  background-image: url("./assets/images/Shadow.png");
  background-repeat: no-repeat;

  .shape {
    width: 658px;
    height: 2px;
    background-color: #ffffff;
    background-image: linear-gradient(to right, #ffffff 0%, #76828a 10%, #76828a 90%, #ffffff 100%);
    opacity: 0.2;
    margin: 0 auto;
  }
}

.wrapper-navigation {
  z-index: 9999;
  padding-top: 16px;
  padding-bottom: 20px;
  font-weight: 700;
  letter-spacing: -0.037em;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #edf2f6 0%, #ffffff 100%);
  box-shadow: 0 4px 2px rgba(51, 71, 82, 0.4);
  display: flex;
  justify-content: space-between;


  & nav {
    margin-top: 9px;
    letter-spacing: -0.005em;
    white-space: nowrap;

    ul {
      margin: 0;


      li {
        display: inline-block;
        list-style-type: none;
        text-align: center;
        width: 88px;

        a {
          position: relative;
          text-decoration: none;
          padding: 26px 17px;
          color: #2c4755;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          letter-spacing: normal;
          line-height: 27px;
          text-transform: uppercase;

          &:hover {
            padding: 26px 27px;
            /* Style for "Hover" */
            cursor: default;
            width: 88px;
            height: 100%;
            background-color: #ffffff;
            background-image: linear-gradient(to bottom, #edf2f6 0%, #ffffff 100%);
            border-top: 4px solid #31a7de;

            &:hover:nth-child(2) {
              padding: 26px 15px;
            }

            &:hover:nth-child(4) {
              padding: 26px 30px 26px 30px;
            }

            &:hover:nth-child(5) {
              padding: 26px 21px;
            }
          }
        }

      }
    }

  }

  .search {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
    width: 140px;
    height: 35px;
    border: 1px solid #c3d0d8;
    border-radius: 4px;
    background-color: #ffffff;

    & span {
      color: #2c4755;
      font-family: 'Roboto', sans-serif;
      font-size: 11px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
    }

    & a {
      width: 17px;
      height: 19px;
      background-image: url(./assets/images/Magnifier_Icon.png);
      background-position-y: center;
      background-repeat: no-repeat;
    }
  }
}

.wrapper-lending {
  background-color: #c4a2e2;
  height: 100%;
  position: relative;

  & .world-map {
    background-image: url("./assets/images/World_Map.png");
    background-repeat: no-repeat;
    width: 930px;
    height: 435px;
    margin: auto;
    padding: 0 350px;
    z-index: 1;
    position: absolute;
    top: 30px;
    left: 24%;
  }

  & .wrapper {
    display: flex;
    justify-content: space-between;
    z-index: 10;

    .lending-info {
      width: 375px;

      & h2 {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 41px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 27px;
        margin-bottom: 0;
      }

      & .lending-info-title {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 27px;
        margin-bottom: 0;
      }

      & .lending-info-subtitle {
        color: #ffffff;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 27px;
        margin-bottom: 0;
      }

      & div p {
        color: #ffffff;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        line-height: 27px;
        letter-spacing: -0.14px;

        &::before {
          content: url("./assets/images/CheckMark.png");
          margin-right: 5px;
        }
      }
    }

    .lending-image {
      position: relative;

      .lending-image-left-server {
        position: absolute;
        z-index: 3;
        top: 237px;
        left: -497px;
      }

      .lending-image-middle-server {
        position: absolute;
        top: 189px;
        right: 110px;
        z-index: 5;
      }

      .lending-image-right-server {
        position: absolute;
        z-index: 3;
        top: 237px;
        left: -183px;
      }
    }
  }
}

.clouds {
  background-image: url("./assets/images/Clouds.png");
  background-position-y: bottom;
  background-repeat: no-repeat;
  width: 1600px;
  height: 115px;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin: auto;

  img {
    margin: auto;
    z-index: 4;
  }
}

.services {
  padding: 55px 371px 45px;

  & > p {
    color: #637988;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: center;
    padding: 0px 90px;
  }


  & .services-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .service {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 226px;
      height: 249px;
      margin-top: 45px;
    }

    & img {
      margin-bottom: 10px;
    }

    & .service-title {
      color: #2c4755;
      font-family: Roboto, sans-serif;
      font-size: 17px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 27px;
      text-align: center;
    }

    & .service-subtitle {
      color: #637988;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      padding: 0;
    }
  }
}

.domain-search {
  & p {
    color: #637988;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    padding: 0;
    text-align: center;
  }

  & .domain-search-wrapper {
    width: 621px;
    height: 48px;
    border: 1px solid #e1e6ea;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: linear-gradient(to top, #edf2f6 0%, #ffffff 100%);
    margin: 25px auto;
    display: flex;
    align-items: center;

    .button {
      margin-left: 17px;
    }

    .domain-search-input {
      display: inline-block;
      width: 457px;
      height: 41px;
      border: 1px solid #e1e6ea;
      border-radius: 4px;
      background-color: #ffffff;
      background-image: linear-gradient(to top, #edf2f6 0%, #ffffff 100%);
      margin-left: 2px;
      padding: 5px 0;
      position: relative;

      &:first-child span {
        color: #2c4755;
        font-family: Roboto, sans-serif;
        font-size: 11px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: 27px;
        text-transform: uppercase;
        position: absolute;
        right: 27px;
      }

      & a:last-child {
        display: inline-block;
        background-image: url("./assets/images/Arrow_Down.png");
        width: 8px;
        height: 5px;
        background-repeat: no-repeat;
        position: absolute;
        right: 12px;
        top: 16px;
      }
    }

  }

}

.packages {
  padding-top: 70px;
  padding-bottom: 50px;

  & .wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .price-table {
      width: 218px;
      height: 309px;
      border: 2px solid #dae3e8;
      border-radius: 8px;

      div:first-child {
        background-color: #56c3ef;
        border-radius: 4px;
        position: relative;
        width: 214px;
        height: 166px;

        &::before {
          content: url("./assets/images/MapSmall.png");
          position: absolute;
          top: 26px
        }
      }

      div:first-child img:nth-child(1) {
        position: absolute;
        top: -48px;
        left: 27%;
      }

      div:first-child img:nth-child(2) {
        z-index: 5;
        position: absolute;
        bottom: 0;
        left: 57px;
      }

      div:first-child img:nth-child(3) {
        position: absolute;
        bottom: -1px;
        z-index: 10;
      }

      div:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          color: #637988;
          font-family: Roboto, sans-serif;
          font-size: 11px;
          font-weight: 400;
          font-style: normal;
          letter-spacing: normal;
          line-height: 22px;
          text-align: center;
          margin: 0;

          &::before {
            content: url("./assets/images/CheckMarkSmall.png");
            margin-right: 5px;

          }

          &:nth-child(2) {
            margin-left: 26px;
          }
        }

        .button {
          width: 94px;
          height: 34px;
          margin-top: 8px;
        }
      }
    }
  }
}

.custom-plans {
  padding-top: 30px;
  padding-bottom: 50px;

  & .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: #637988;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 27px;
      text-align: center;
      padding: 0px 94px;
    }
  }
}