@font-face {
  font-family: 'Roboto-Bold';
  src: url('assets/fonts/Roboto-Bold.ttf') format('ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('assets/fonts/Roboto-Regular.ttf') format('ttf');
  font-style: normal;
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  overflow-x: hidden;
}

header, footer, .custom-plans, .blog {
  position: relative;
  width: 100%;
}

header {
  background-color: #c4a2e2;
}

h2 {
  text-align: center;

}

h3 {
  color: #2c4755;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: center;

}

p {
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}


.wrapper-top {
  margin: 0 auto;
  color: #ffffff;
  font-family: 'Roboto-Bold', sans-serif;
  max-width: 940px;

  > div {
    padding: 12px 10px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 490px) {
      font-size: 10px;
    }

    & .info-wrapper span {
      margin-left: 0.2em;
      @media (max-width: 440px) {
        display: none;
      }
    }

    & .info-wrapper .info-wrapper__envelope {
      margin-left: 1.5em;
    }

    & .language-wrapper span, & .language-wrapper img {
      margin-left: 0.2em;
    }
  }
}

.wrapper {
  margin: auto;
}

.search-input {
  color: #2c4755;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  padding: 0 5px;
  width: 140px;
  height: 35px;
  border: 1px solid #c3d0d8;
  border-radius: 4px;
  background-color: #ffffff;
}

.button {
  width: 127px;
  height: 33px;
  border: 1px solid #41bdef;
  background-image: linear-gradient(to top, #31a7de 0%, #41bdef 100%);
  color: #ffffff;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;

}

.comments-header {
  font-size: 20px;
  color: #00c7fc;
  font-family: "Roboto-Regular", sans-serif;
  margin: 10px 0 10px 0
}

.block-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clouds {
  width: 100%;
  display: flex;
  align-items: flex-end;

  img {
    object-fit: cover;
    width: 100%;
    margin-bottom: -1px;
  }
}

.nav {
  background-image: linear-gradient(to top, #edf2f6 0%, #ffffff 100%);
  box-shadow: 0 4px 2px rgba(51, 71, 82, 0.4);
  position: relative;
}

.wrapper-navigation {
  z-index: 9999;
  padding: 16px 12px 20px 5px;
  display: flex;
  justify-content: space-between;
  max-width: 940px;

  & nav {
    margin-top: 9px;
    letter-spacing: -0.005em;
    white-space: nowrap;
    @media (max-width: 600px) {
      display: none;
    }

    ul {
      margin: 0 0 0 90px;
      @media (max-width: 677px) {
        margin: 0;
      }

      li {
        display: inline-block;
        list-style-type: none;
        text-align: center;
        width: 88px;

        a {
          position: relative;
          text-decoration: none;
          padding: 26px 17px;
          color: #2c4755;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 500;
          font-style: normal;
          letter-spacing: normal;
          line-height: 27px;
          text-transform: uppercase;

          &:hover {
            /* Style for "Hover" */
            padding: 26px 15px;
            cursor: default;
            width: 88px;
            height: 100%;
            background-color: #ffffff;
            background-image: linear-gradient(to bottom, #edf2f6 0%, #ffffff 100%);
            border-top: 4px solid #31a7de;

            &:hover:nth-child(2) {
              padding: 26px 15px;
            }

            &:hover:nth-child(4) {
              padding: 26px 30px 26px 30px;
            }

            &:hover:nth-child(5) {
              padding: 26px 21px;
            }
          }
        }
      }
    }
  }

  .search {
    position: relative;
    @media (max-width: 820px) {
      display: none;
    }

    &::after {
      content: url("./assets/images/Magnifier_Icon.png");
      width: 17px;
      height: 19px;
      position: absolute;
      top: 9px;
      right: 1px;
    }
  }
}

// Hamburger

.hamburger-menu {
  display: none;
  @media (max-width: 600px) {
    display: block;
  }
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  right: 20px;
  top: 60px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

/* add "hamburger" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
}

.menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 278px;
  height: 100%;
  margin: 0;
  padding: 80px 0px;
  list-style: none;
  text-align: center;
  background-color: #2D303A;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  z-index: 9999;
}

/* menu elements */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #f06c64;
  text-transform: uppercase;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.035em;
  text-decoration: none;
}

.hamburger-logo_title {
  position: absolute;
  left: 80px;
  bottom: 906px;
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.hamburger-logo_title::after {
  content: "*";
  color: #f06c64;
}

.hamburger-menu a {
  color: white;
  cursor: pointer;
}

.current {
  margin-top: 180px;
}

#menu__toggle {
  width: 0px;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  transform: rotate(180deg);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  transform: rotate(180deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}

.menu__box {
  transition-duration: .25s;
}

.menu__item {
  transition-duration: .25s;
}

.wrapper-title {
  background-color: #c4a2e2;
  padding-top: 24px;

  & h2 {
    color: #2c4755;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    margin-top: 0;
    text-align: center;
  }

  & p {
    color: #2c4755;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 25px;
  }
}

.custom-plans {
  padding-top: 30px;
  padding-bottom: 50px;
  box-shadow: 0 5px 5px rgba(44, 71, 85, 0.3);
  z-index: 1;

  & .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: #637988;
      font-family: Roboto, sans-serif;
      font-size: 14px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 27px;
      text-align: center;
      padding: 0px 94px;
    }
  }
}

.blog {
  padding-top: 30px;
  padding-bottom: 50px;
  box-shadow: 0 5px 5px rgba(44, 71, 85, 0.3);
  z-index: 1;

  .wrapper {
    max-width: 950px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 880px) {
      max-width: 630px;
    }
    @media (max-width: 620px) {

    }

    .left-section {
      max-width: 620px;
      padding: 0 5px;

      .post-wrapper {
        padding: 15px 0;

        .post-image {
          text-align: center;

          img {
            @media (max-width: 600px) {
              width: 400px;
            }
            @media (max-width: 420px) {
              width: 300px;
            }
          }
        }

        h3 {
          text-align: left;
          font-size: 20px;
          margin: 10px 0 6px 0;
        }

        .post-subtitle {
          display: flex;
          justify-content: space-between;

          span {
            font-size: 11px;
            font-weight: 400;
            padding-left: 5px;

            &:nth-child(1)::before {
              content: url("./assets/images/Calendar_Icon.png");
              padding-right: 10px;
            }

            &:nth-child(2)::before {
              content: url("./assets/images/Autor_Icon.png");
              padding-right: 10px;
            }

            &:nth-child(3)::before {
              content: url("./assets/images/Bubble_Icon.png");
              padding-right: 10px;
            }
          }
        }

        .post-description {
          p {
            font-size: 14px;
            line-height: 21px;
            color: #637988;
            font-weight: 400;
            font-family: "Roboto-Regular", sans-serif;
          }

          p:nth-child(3) {
            font-size: 20px;
            color: #24aeeb;
            font-family: "Roboto-Regular", sans-serif;
            text-align: center;
            padding: 0 20px;
          }
        }

        .icons-wrapper {
          display: flex;
          justify-content: flex-end;
          margin-top: 25px;

          button:nth-child(1), button:nth-child(3), button:nth-child(5) {
            margin-left: 10px;
            font-size: 13px;
            color: #597984;
            font-family: "Roboto-Regular", sans-serif;
            width: 64px;
            height: 25px;
            border-radius: 3px;
            background-image: linear-gradient(0deg, #979797 0%, #ffffff 100%);
            border: 1px solid #cccccc;
            position: relative;
          }

          button:nth-child(1) {
            &::before {
              content: url("./assets/images/facebook.png");
              position: absolute;
              top: 4px;
              right: 51px;
            }
          }

          button:nth-child(3) {
            &::before {
              content: url("./assets/images/twitter.png");
              position: absolute;
              top: 6px;
              right: 47px;
            }
          }

          button:nth-child(5) {
            width: 40px;

            &::before {
              content: url("./assets/images/google.png");
              position: absolute;
              top: 6px;
              right: 0px;
            }
          }

          button:nth-child(2), button:nth-child(4), button:nth-child(6) {
            margin-left: 3px;
            font-size: 13px;
            color: #597984;
            font-family: "Roboto-Regular", sans-serif;
            width: 15px;
            height: 25px;
            background-image: linear-gradient(0deg, #979797 0%, #ffffff 100%);
            border: 1px solid #cccccc;
            padding: 2px;
          }
        }

        .comments {
          .comment {
            &:nth-child(3) {
              margin-left: 50px;
            }

            &:nth-child(4) {
              margin-left: 100px;
            }

            .comment-subtitle {
              display: flex;
              justify-content: space-between;

              div:first-child {
                margin-left: 95px;

                span {
                  font-size: 11px;
                  font-weight: 400;
                  color: #31a7de;
                  margin: 0;

                  &:nth-child(1)::before {
                    content: url("./assets/images/Autor_Icon.png");
                    padding-right: 10px;

                  }

                  &:nth-child(2)::before {
                    content: url("./assets/images/Calendar_Icon.png");
                    padding-right: 10px;
                    margin-left: 35px;
                  }

                  &:nth-child(3) {
                    color: #cedadd;
                  }
                }
              }

              div:last-child {
                color: #31a7de;
              }
            }

            .comment-description {
              display: flex;
              justify-content: space-between;

              img {
                width: 63px;
                height: 63px;
                margin-top: 12px;
                margin-right: 30px;
              }

              .comment-description-title {

                p {
                  padding: 20px 10px 20px 20px;
                  font-size: 15px;
                  color: #597984;
                  font-family: "Roboto-Regular", sans-serif;
                  background-color: #f5f7f8;
                }
              }
            }
          }
        }
      }
    }

    .right-section {
      max-width: 240px;
      padding: 0 10px;
      margin: auto;
    }

    .search-blog {
      position: relative;

      &::after {
        content: url("./assets/images/Magnifier_Icon.png");
        width: 17px;
        height: 19px;
        position: absolute;
        top: 39px;
        right: 1px;
      }

      p {
        color: #00c7fc;
        font-size: 20px;
        font-weight: 400;
        margin: 5px;
      }

      .search-input {
        width: 221px;
        height: 34px;
      }
    }

    .categories {
      p {
        &:first-child {
          color: #00c7fc;
          font-size: 20px;
          font-weight: 400;
          margin-top: 60px;
        }

        span {
          color: #00c7fc;
          margin-left: 3px;
        }
      }
    }

    .archives {
      p {
        &:first-child {
          color: #00c7fc;
          font-size: 20px;
          font-weight: 400;
          margin-top: 60px;
        }

        span {
          color: #00c7fc;
          margin-left: 3px;
        }
      }
    }
  }

  .commit-form {

    form {
      display: flex;
      flex-direction: column;

      label {
        font-size: 15px;
        color: #597984;
        font-family: "Roboto-Regular", sans-serif;
        margin: 10px 0;
      }

      input {
        padding: 12px 15px;
        width: 41%;
        box-sizing: border-box;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        border: none;
        border-radius: 5px;
        background-color: #edf2f6;
        color: #31a7de;

        input[placeholder] {
          font-size: 15px;
          color: #c3d0d8;
        }
      }

      textarea {
        padding: 11px 15px 13px 14px;
        margin-bottom: 14px;
        background-color: #edf2f6;
        border: none;
        @media (max-width: 835px) {
          width: 100%;
        }
      }
    }
  }
}


.footer {
  background-color: #c4a2e2;

  & .wrapper {
    display: flex;
    justify-content: space-between;
    width: 75%;
    @media (max-width: 930px) {
      width: 100%;
      padding-left: 10px;
    }
  }

  & .wrapper > div {
    color: #ffffff;
    font-family: 'Roboto-Regular', sans-serif;
    margin: 15px 0px;

    &:nth-child(1) {
      width: 200px
    }

    &:nth-child(2) {
      width: 200px
    }

    &:nth-child(3) {
      width: 217px;
    }

    &:nth-child(4) {
      width: 217px;
    }

    p:first-child {
      font-size: 17px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 27px;
    }

    p:nth-child(2) {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 27px;
      text-align: left;
    }

    p:nth-child(3):not(.service-title) {
      font-size: 11px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 27px;
    }

    p:nth-child(4) {
      font-size: 11px;
      font-weight: 400;
      font-style: normal;
      letter-spacing: normal;
      line-height: 27px;
      text-align: right;
    }

    ul {
      margin: 0;
    }

    li {
      text-transform: uppercase;
    }

    a {
      color: #ffffff;
      font-family: Roboto, sans-serif;
      text-decoration: none;
      font-size: 11px;
      font-weight: 500;
      font-style: normal;
      letter-spacing: normal;
      line-height: 27px;
      text-align: left;
    }

    .social-networks {
      width: 180px;
      height: 22px;
      display: flex;
      justify-content: space-between;

      a {
        background-image: url("./assets/images/Social_Icons.png");
        outline: 1px solid transparent;
        width: 22px;
        height: 22px;
        text-decoration: none;
        color: inherit;
        background-size: cover;

        &:nth-child(1) {
          background-position: 0%;
        }

        &:nth-child(2) {
          background-position: 23%;
        }

        &:nth-child(3) {
          background-position: 49%;
        }

        &:nth-child(4) {
          background-position: 75%;
        }

        &:nth-child(5) {
          background-position: 100%;
        }
      }
    }
  }
}
