@font-face {
  font-family: "Roboto-Bold";
  src: url("assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto-Regular", sans-serif;
}

header, footer, .advertise, .advantages, .custom-plans {
  position: relative;
  width: 100%;
}

header {
  background-color: #c4a2e2;
}

h3 {
  color: #2c4755;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: center;
}

.wrapper-top {
  margin: 0 auto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  max-width: 940px;
}
.wrapper-top > div {
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
}
.wrapper-top > div .info-wrapper span {
  margin-left: 0.2em;
}
@media (max-width: 440px) {
  .wrapper-top > div .info-wrapper span {
    display: none;
  }
}
.wrapper-top > div .info-wrapper .info-wrapper__envelope {
  margin-left: 1.5em;
}
.wrapper-top > div .language-wrapper span, .wrapper-top > div .language-wrapper img {
  margin-left: 0.2em;
}

.wrapper {
  margin: auto;
}

.button {
  width: 127px;
  height: 33px;
  border: 1px solid #41bdef;
  background-image: linear-gradient(to top, #31a7de 0%, #41bdef 100%);
  color: #ffffff;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
}

.separator {
  width: 1081px;
  height: 67px;
  margin: 0 auto;
  background-image: url("./assets/images/Separator.png");
  background-repeat: no-repeat;
}
@media (max-width: 930px) {
  .separator {
    display: none;
  }
}

.clouds {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.clouds img {
  object-fit: cover;
  width: 100%;
  margin-bottom: -1px;
  z-index: 3;
}

.nav {
  background-image: linear-gradient(to top, #edf2f6 0%, #ffffff 100%);
  box-shadow: 0 4px 2px rgba(51, 71, 82, 0.4);
  position: relative;
}

.wrapper-navigation {
  z-index: 9999;
  padding: 16px 12px 20px 5px;
  display: flex;
  justify-content: space-between;
  max-width: 940px;
}
.wrapper-navigation nav {
  margin-top: 9px;
  letter-spacing: -0.005em;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .wrapper-navigation nav {
    display: none;
  }
}
.wrapper-navigation nav ul {
  margin: 0 0 0 90px;
}
@media (max-width: 677px) {
  .wrapper-navigation nav ul {
    margin: 0;
  }
}
.wrapper-navigation nav ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  width: 88px;
}
.wrapper-navigation nav ul li a {
  position: relative;
  text-decoration: none;
  padding: 26px 17px;
  color: #2c4755;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-transform: uppercase;
}
.wrapper-navigation nav ul li a:hover {
  /* Style for "Hover" */
  padding: 26px 15px;
  cursor: default;
  width: 88px;
  height: 100%;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #edf2f6 0%, #ffffff 100%);
  border-top: 4px solid #31a7de;
}
.wrapper-navigation nav ul li a:hover:hover:nth-child(2) {
  padding: 26px 15px;
}
.wrapper-navigation nav ul li a:hover:hover:nth-child(4) {
  padding: 26px 30px 26px 30px;
}
.wrapper-navigation nav ul li a:hover:hover:nth-child(5) {
  padding: 26px 21px;
}
.wrapper-navigation .search {
  position: relative;
}
@media (max-width: 820px) {
  .wrapper-navigation .search {
    display: none;
  }
}
.wrapper-navigation .search::after {
  content: url("./assets/images/Magnifier_Icon.png");
  width: 17px;
  height: 19px;
  position: absolute;
  top: 9px;
  right: 1px;
}
.wrapper-navigation .search input {
  color: #2c4755;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  padding: 0 5px;
  width: 140px;
  height: 35px;
  border: 1px solid #c3d0d8;
  border-radius: 4px;
  background-color: #ffffff;
}

.wrapper-title {
  background-color: #c4a2e2;
  padding-top: 24px;
}
.wrapper-title h2 {
  color: #2c4755;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  margin-top: 0;
  text-align: center;
}
.wrapper-title p {
  color: #2c4755;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 25px;
}

.hamburger-menu {
  display: none;
}
@media (max-width: 600px) {
  .hamburger-menu {
    display: block;
  }
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  right: 20px;
  top: 60px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 99999999999;
}

/* add "hamburger" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 278px;
  height: 100%;
  margin: 0;
  padding: 80px 0px;
  list-style: none;
  text-align: center;
  background-color: #2D303A;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.menu__box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100vw - 278px);
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
}

/* menu elements */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #f06c64;
  text-transform: uppercase;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.035em;
  text-decoration: none;
}

.hamburger-logo_title {
  position: absolute;
  left: 80px;
  bottom: 906px;
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.hamburger-logo_title::after {
  content: "*";
  color: #f06c64;
}

.hamburger-menu a {
  color: white;
  cursor: pointer;
}

.current {
  margin-top: 180px;
}

#menu__toggle {
  width: 0px;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  transform: rotate(180deg);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  transform: rotate(180deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}

.menu__box {
  transition-duration: 0.25s;
}

.menu__item {
  transition-duration: 0.25s;
}

.wrapper-lending {
  background-color: #c4a2e2;
  height: 100%;
  z-index: 1;
}
.wrapper-lending .world-map {
  background-image: url("./assets/images/World_Map.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 435px;
  margin: auto;
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 10%;
}
@media (max-width: 1200px) {
  .wrapper-lending .world-map {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .wrapper-lending .world-map {
    display: none;
  }
}
.wrapper-lending .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10;
  max-width: 940px;
  position: relative;
}
@media (max-width: 980px) {
  .wrapper-lending .wrapper {
    max-width: 600px;
  }
}
@media (max-width: 500px) {
  .wrapper-lending .wrapper {
    padding: 0px 25px;
  }
}
.wrapper-lending .wrapper .lending-info {
  width: 375px;
}
.wrapper-lending .wrapper .lending-info h2 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 41px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  margin-bottom: 0;
}
.wrapper-lending .wrapper .lending-info .lending-info-title {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  margin-bottom: 0;
}
.wrapper-lending .wrapper .lending-info .lending-info-subtitle {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  margin-bottom: 0;
}
.wrapper-lending .wrapper .lending-info div p {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  letter-spacing: -0.14px;
}
.wrapper-lending .wrapper .lending-info div p::before {
  content: url("./assets/images/CheckMark.png");
  margin-right: 5px;
}
.wrapper-lending .wrapper .lending-image {
  position: relative;
}
@media (max-width: 980px) {
  .wrapper-lending .wrapper .lending-image {
    position: static;
  }
}
@media (max-width: 530px) {
  .wrapper-lending .wrapper .lending-image {
    display: none;
  }
}
.wrapper-lending .wrapper .lending-image .lending-image-left-server {
  position: absolute;
  z-index: 3;
  top: 237px;
  left: -497px;
}
.wrapper-lending .wrapper .lending-image .lending-image-middle-server {
  position: absolute;
  top: 189px;
  right: 110px;
  z-index: 5;
}
@media (max-width: 980px) {
  .wrapper-lending .wrapper .lending-image .lending-image-middle-server {
    display: none;
  }
}
@media (max-width: 690px) {
  .wrapper-lending .wrapper .lending-image .lending-image-middle-server {
    width: 170px;
  }
}
.wrapper-lending .wrapper .lending-image .lending-image-right-server {
  position: absolute;
  z-index: 3;
  top: 237px;
  left: -183px;
}
@media (max-width: 980px) {
  .wrapper-lending .wrapper .lending-image .lending-image-right-server {
    top: 253px;
    left: 355px;
  }
}

.services {
  padding: 55px 0px 45px;
  max-width: 940px;
  margin: 0 auto;
}
.services > p {
  color: #637988;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  padding: 0px 90px;
}
.services .services-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 675px) {
  .services .services-wrapper {
    justify-content: center;
  }
}
.services .services-wrapper .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 226px;
  height: 249px;
  margin-top: 45px;
}
.services .services-wrapper img {
  margin-bottom: 10px;
}
.services .services-wrapper .service-title {
  color: #2c4755;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: center;
}
.services .services-wrapper .service-subtitle {
  color: #637988;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  padding: 0;
}

.domain-search p {
  color: #637988;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  padding: 0;
  text-align: center;
}
.domain-search .domain-search-wrapper {
  width: 621px;
  height: 48px;
  border: 1px solid #e1e6ea;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #edf2f6 0%, #ffffff 100%);
  margin: 25px auto;
  display: flex;
  align-items: center;
}
@media (max-width: 670px) {
  .domain-search .domain-search-wrapper {
    width: 80%;
  }
}
.domain-search .domain-search-wrapper .button {
  margin-left: 17px;
}
.domain-search .domain-search-wrapper .domain-search-input {
  display: inline-block;
  width: 457px;
  height: 41px;
  border: 1px solid #e1e6ea;
  border-radius: 4px;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #edf2f6 0%, #ffffff 100%);
  margin-left: 2px;
  padding: 5px 0;
  position: relative;
}
.domain-search .domain-search-wrapper .domain-search-input:first-child span {
  color: #2c4755;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-transform: uppercase;
  position: absolute;
  right: 27px;
}
.domain-search .domain-search-wrapper .domain-search-input a:last-child {
  display: inline-block;
  background-image: url("./assets/images/Arrow_Down.png");
  width: 8px;
  height: 5px;
  background-repeat: no-repeat;
  position: absolute;
  right: 12px;
  top: 16px;
}

.packages {
  padding-top: 70px;
  padding-bottom: 50px;
}
.packages .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 940px;
}
@media (max-width: 940px) {
  .packages .wrapper {
    justify-content: center;
  }
}
.packages .wrapper .price-table {
  width: 218px;
  height: 309px;
  border: 2px solid #dae3e8;
  border-radius: 8px;
}
@media (max-width: 940px) {
  .packages .wrapper .price-table {
    margin-top: 60px;
  }
}
.packages .wrapper .price-table div:first-child {
  background-color: #56c3ef;
  border-radius: 4px;
  position: relative;
  width: 214px;
  height: 166px;
}
.packages .wrapper .price-table div:first-child::before {
  content: url("./assets/images/MapSmall.png");
  position: absolute;
  top: 26px;
}
.packages .wrapper .price-table div:first-child img:nth-child(1) {
  position: absolute;
  top: -48px;
  left: 27%;
}
.packages .wrapper .price-table div:first-child img:nth-child(2) {
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 57px;
}
.packages .wrapper .price-table div:first-child img:nth-child(3) {
  position: absolute;
  bottom: -1px;
  z-index: 10;
}
.packages .wrapper .price-table div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.packages .wrapper .price-table div:last-child p {
  color: #637988;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 22px;
  text-align: center;
  margin: 0;
}
.packages .wrapper .price-table div:last-child p::before {
  content: url("./assets/images/CheckMarkSmall.png");
  margin-right: 5px;
}
.packages .wrapper .price-table div:last-child p:nth-child(2) {
  margin-left: 26px;
}
.packages .wrapper .price-table div:last-child .button {
  width: 94px;
  height: 34px;
  margin-top: 8px;
}

.custom-plans {
  padding-top: 30px;
  padding-bottom: 50px;
  box-shadow: 0 5px 5px rgba(44, 71, 85, 0.3);
  z-index: 1;
}
.custom-plans .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.custom-plans .wrapper p {
  color: #637988;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: center;
  padding: 0px 94px;
}

.footer {
  background-color: #c4a2e2;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  width: 75%;
}
@media (max-width: 930px) {
  .footer .wrapper {
    width: 100%;
    padding-left: 15px;
    flex-direction: column;
  }
}
.footer .wrapper > div {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  margin: 15px 0px;
}
.footer .wrapper > div:nth-child(1) {
  width: 200px;
}
.footer .wrapper > div:nth-child(2) {
  width: 200px;
}
.footer .wrapper > div:nth-child(3) {
  width: 217px;
}
@media (max-width: 450px) {
  .footer .wrapper > div:nth-child(3) {
    display: none;
  }
}
.footer .wrapper > div:nth-child(4) {
  width: 217px;
}
.footer .wrapper > div p:first-child {
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
}
.footer .wrapper > div p:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
}
.footer .wrapper > div p:nth-child(3):not(.service-title) {
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
}
.footer .wrapper > div p:nth-child(4) {
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: right;
}
.footer .wrapper > div ul {
  margin: 0;
}
.footer .wrapper > div li {
  text-transform: uppercase;
}
.footer .wrapper > div a {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
}
.footer .wrapper > div .social-networks {
  width: 180px;
  height: 22px;
  display: flex;
  justify-content: space-between;
}
.footer .wrapper > div .social-networks a {
  background-image: url("./assets/images/Social_Icons.png");
  outline: 1px solid transparent;
  width: 22px;
  height: 22px;
  text-decoration: none;
  color: inherit;
  background-size: cover;
}
.footer .wrapper > div .social-networks a:nth-child(1) {
  background-position: 0%;
}
.footer .wrapper > div .social-networks a:nth-child(2) {
  background-position: 23%;
}
.footer .wrapper > div .social-networks a:nth-child(3) {
  background-position: 49%;
}
.footer .wrapper > div .social-networks a:nth-child(4) {
  background-position: 75%;
}
.footer .wrapper > div .social-networks a:nth-child(5) {
  background-position: 100%;
}

/*# sourceMappingURL=styles.css.map */
