@font-face {
  font-family: "Roboto-Bold";
  src: url("assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto-Regular", sans-serif;
}

header, footer, .advertise, .advantages, .company {
  position: relative;
  width: 100%;
}

header {
  background-color: #c4a2e2;
}

h2 {
  text-align: center;
}

h3 {
  color: #2c4755;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: center;
}

p {
  font-family: "Roboto-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.hamburger-menu {
  display: none;
}
@media (max-width: 600px) {
  .hamburger-menu {
    display: block;
  }
}

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  right: 20px;
  top: 60px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 9999999;
}

/* add "hamburger" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 278px;
  height: 100%;
  margin: 0;
  padding: 80px 0px;
  list-style: none;
  text-align: center;
  background-color: #2D303A;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
.menu__box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100vw - 278px);
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
}

/* menu elements */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #f06c64;
  text-transform: uppercase;
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.035em;
  text-decoration: none;
}

.hamburger-logo_title {
  position: absolute;
  left: 80px;
  bottom: 906px;
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.hamburger-logo_title::after {
  content: "*";
  color: #f06c64;
}

.hamburger-menu a {
  color: white;
  cursor: pointer;
}

.current {
  margin-top: 180px;
}

#menu__toggle {
  width: 0px;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  transform: rotate(180deg);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  transform: rotate(180deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}

.menu__box {
  transition-duration: 0.25s;
}

.menu__item {
  transition-duration: 0.25s;
}

.wrapper-top {
  margin: 0 auto;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  max-width: 940px;
}
.wrapper-top > div {
  padding: 12px 10px;
  display: flex;
  justify-content: space-between;
}
.wrapper-top > div .info-wrapper span {
  margin-left: 0.2em;
}
@media (max-width: 440px) {
  .wrapper-top > div .info-wrapper span {
    display: none;
  }
}
.wrapper-top > div .info-wrapper .info-wrapper__envelope {
  margin-left: 1.5em;
}
.wrapper-top > div .language-wrapper span, .wrapper-top > div .language-wrapper img {
  margin-left: 0.2em;
}

.wrapper {
  margin: auto;
}

.button {
  width: 127px;
  height: 33px;
  border: 1px solid #41bdef;
  background-image: linear-gradient(to top, #31a7de 0%, #41bdef 100%);
  color: #ffffff;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
}

.block-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  height: 67px;
  margin: 0 auto;
  background-image: url("./assets/images/Separator.png");
  background-repeat: no-repeat;
}
@media (max-width: 930px) {
  .separator {
    display: none;
  }
}

.clouds {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.clouds img {
  object-fit: cover;
  width: 100%;
  margin-bottom: -1px;
}

.nav {
  background-image: linear-gradient(to top, #edf2f6 0%, #ffffff 100%);
  box-shadow: 0 4px 2px rgba(51, 71, 82, 0.4);
  position: relative;
}

.wrapper-navigation {
  z-index: 9999;
  padding: 16px 12px 20px 5px;
  display: flex;
  justify-content: space-between;
  max-width: 940px;
}
.wrapper-navigation nav {
  margin-top: 9px;
  letter-spacing: -0.005em;
  white-space: nowrap;
}
@media (max-width: 600px) {
  .wrapper-navigation nav {
    display: none;
  }
}
.wrapper-navigation nav ul {
  margin: 0 0 0 90px;
}
@media (max-width: 677px) {
  .wrapper-navigation nav ul {
    margin: 0;
  }
}
.wrapper-navigation nav ul li {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  width: 88px;
}
.wrapper-navigation nav ul li a {
  position: relative;
  text-decoration: none;
  padding: 26px 17px;
  color: #2c4755;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-transform: uppercase;
}
.wrapper-navigation nav ul li a:hover {
  /* Style for "Hover" */
  padding: 26px 15px;
  cursor: default;
  width: 88px;
  height: 100%;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom, #edf2f6 0%, #ffffff 100%);
  border-top: 4px solid #31a7de;
}
.wrapper-navigation nav ul li a:hover:hover:nth-child(2) {
  padding: 26px 15px;
}
.wrapper-navigation nav ul li a:hover:hover:nth-child(4) {
  padding: 26px 30px 26px 30px;
}
.wrapper-navigation nav ul li a:hover:hover:nth-child(5) {
  padding: 26px 21px;
}
.wrapper-navigation .search {
  position: relative;
}
@media (max-width: 820px) {
  .wrapper-navigation .search {
    display: none;
  }
}
.wrapper-navigation .search::after {
  content: url("./assets/images/Magnifier_Icon.png");
  width: 17px;
  height: 19px;
  position: absolute;
  top: 9px;
  right: 1px;
}
.wrapper-navigation .search input {
  color: #2c4755;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  padding: 0 5px;
  width: 140px;
  height: 35px;
  border: 1px solid #c3d0d8;
  border-radius: 4px;
  background-color: #ffffff;
}

.wrapper-title {
  background-color: #c4a2e2;
  padding-top: 24px;
}
.wrapper-title h2 {
  color: #2c4755;
  font-family: Roboto, sans-serif;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  margin-top: 0;
  text-align: center;
}
.wrapper-title p {
  color: #2c4755;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 25px;
}

.footer {
  background-color: #c4a2e2;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
}
@media (max-width: 930px) {
  .footer .wrapper {
    width: 100%;
    padding-left: 15px;
    flex-direction: column;
  }
}
.footer .wrapper > div {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  margin: 15px 0px;
}
.footer .wrapper > div:nth-child(1) {
  width: 200px;
}
.footer .wrapper > div:nth-child(2) {
  width: 200px;
}
.footer .wrapper > div:nth-child(3) {
  width: 217px;
}
.footer .wrapper > div:nth-child(4) {
  width: 217px;
}
.footer .wrapper > div p:first-child {
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
}
.footer .wrapper > div p:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
}
.footer .wrapper > div p:nth-child(3):not(.service-title) {
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
}
.footer .wrapper > div p:nth-child(4) {
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: right;
}
.footer .wrapper > div ul {
  margin: 0;
}
.footer .wrapper > div li {
  text-transform: uppercase;
}
.footer .wrapper > div a {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: 27px;
  text-align: left;
}
.footer .wrapper > div .social-networks {
  width: 180px;
  height: 22px;
  display: flex;
  justify-content: space-between;
}
.footer .wrapper > div .social-networks a {
  background-image: url("./assets/images/Social_Icons.png");
  outline: 1px solid transparent;
  width: 22px;
  height: 22px;
  text-decoration: none;
  color: inherit;
  background-size: cover;
}
.footer .wrapper > div .social-networks a:nth-child(1) {
  background-position: 0%;
}
.footer .wrapper > div .social-networks a:nth-child(2) {
  background-position: 23%;
}
.footer .wrapper > div .social-networks a:nth-child(3) {
  background-position: 49%;
}
.footer .wrapper > div .social-networks a:nth-child(4) {
  background-position: 75%;
}
.footer .wrapper > div .social-networks a:nth-child(5) {
  background-position: 100%;
}

.advertise {
  padding: 40px 0 0 0;
}
.advertise .wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 150px;
  max-width: 940px;
}
@media (max-width: 877px) {
  .advertise .wrapper {
    margin: 10px auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}
.advertise .wrapper .advertise-image {
  position: relative;
}
.advertise .wrapper .advertise-image .server-bubble {
  background-color: #2c4755;
  width: 284px;
  height: 95px;
  position: absolute;
  top: 40px;
  border-radius: 6px;
}
.advertise .wrapper .advertise-image .server-bubble div {
  display: flex;
  justify-content: center;
  padding: 10px 25px 10px 15px;
}
.advertise .wrapper .advertise-image .server-bubble div ul li {
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}
.advertise .wrapper .advertise-image .server-bubble span {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  background-color: #2c4755;
  transform: rotate(45deg);
  position: absolute;
  bottom: -7px;
  left: 50%;
}
.advertise .wrapper .advertise-info {
  width: 375px;
  height: 300px;
}
@media (max-width: 877px) {
  .advertise .wrapper .advertise-info {
    margin-top: 25px;
    height: 250px;
    width: 100%;
    padding: 0 20px;
  }
}
.advertise .wrapper .advertise-info h2 {
  color: #2c4755;
  font-weight: 400;
  font-size: 38px;
  letter-spacing: -0.38px;
  line-height: normal;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.advertise .wrapper .advertise-info h2 span {
  font-weight: 700;
}
.advertise .wrapper .advertise-info > p {
  color: #2c4755;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-bottom: 17px;
  letter-spacing: -0.14px;
}
.advertise .wrapper .advertise-info > div p {
  color: #2c4755;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.advertise .wrapper .advertise-info > div p::before {
  content: url("./assets/images/CheckMark.png");
  margin-right: 5px;
}

.what-we-do {
  padding-bottom: 40px;
}
.what-we-do .wrapper {
  max-width: 940px;
}
.what-we-do .wrapper h3 {
  color: #2c4755;
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.what-we-do .wrapper .advantages-elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 47px;
  padding-left: 1px;
}
.what-we-do .wrapper .advantages-elements .one-advantage {
  margin: 16px 10px;
  flex: 1 0 30%;
  display: flex;
}
.what-we-do .wrapper .advantages-elements .one-advantage .icon-shape {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #31a7de;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.what-we-do .wrapper .advantages-elements .one-advantage .icon-shape img {
  object-fit: cover;
}
.what-we-do .wrapper .advantages-elements h4 {
  color: #2c4755;
  font-size: 17px;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin: 0;
}
.what-we-do .wrapper .advantages-elements p {
  color: #637988;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  overflow: hidden;
}

.team {
  padding-bottom: 40px;
}
.team .wrapper {
  max-width: 940px;
}
.team .wrapper .team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 935px) {
  .team .wrapper .team-wrapper {
    padding: 15px 22px;
    justify-content: space-around;
  }
}
.team .wrapper .team-wrapper .team-item {
  height: 305px;
  width: 220px;
  background-color: #4ab1e1;
  border-radius: 6px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 935px) {
  .team .wrapper .team-wrapper .team-item {
    margin-top: 40px;
  }
}
.team .wrapper .team-wrapper .team-item div {
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.team .wrapper .team-wrapper .team-item div img {
  margin-bottom: -6px;
  object-fit: cover;
  width: 100%;
}
.team .wrapper .team-wrapper .team-item div h4 {
  background-color: white;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 17px;
  color: #2c4755;
  font-weight: 500;
}
.team .wrapper .team-wrapper .team-item div p {
  background-color: white;
  margin: 0;
  border-top: 1px dashed black;
  text-align: center;
  padding: 15px;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 11px;
  letter-spacing: 0px;
  color: #637988;
  font-weight: 400;
}
.team .wrapper p {
  margin-top: 70px;
  text-align: center;
  font-size: 14px;
  color: #637988;
  font-weight: 400;
  font-family: "Roboto-Regular", sans-serif;
}

.company {
  padding-bottom: 40px;
  box-shadow: 0 5px 5px rgba(44, 71, 85, 0.3);
  z-index: 1;
}
.company .wrapper {
  max-width: 940px;
}
.company .wrapper .company-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media (max-width: 935px) {
  .company .wrapper .company-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 935px) {
  .company .wrapper .company-wrapper .company-image .company__image-big img {
    width: 100%;
  }
}
.company .wrapper .company-wrapper .company-image .company__image-small {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
@media (max-width: 935px) {
  .company .wrapper .company-wrapper .company-image .company__image-small {
    justify-content: space-around;
  }
}
.company .wrapper .company-wrapper .company-image .company__image-small img {
  width: 60px;
  height: 60px;
}
.company .wrapper .company-wrapper .company-description p {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 14px;
  color: #637988;
  font-weight: 400;
  font-family: "Roboto-Regular", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
